<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814413183557-6dpvh1c19t58iquch6canp2hhl918q3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814413183557-6dpvh1c19t58iquch6canp2hhl918q3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814413183557-0ihbuiacbbg6ifi7uj25n7h5dhk1c79e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaFX65WnsKTsXDlCyOcl8b9hXrtVe0zx8</string>
	<key>GCM_SENDER_ID</key>
	<string>814413183557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yamiz.eladGiserman</string>
	<key>PROJECT_ID</key>
	<string>twist-app-4e64b</string>
	<key>STORAGE_BUCKET</key>
	<string>twist-app-4e64b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814413183557:ios:4cd4431d14aebf7b06c12c</string>
</dict>
</plist>